---
interface Props {
    title: string;
    name: string;
    options: {
        value: string;
        label: string;
    }[];
}

const { title, name, options } = Astro.props;
---

<div class="flex flex-col gap-1 w-full">
    <label class="text-xs text-text-muted uppercase" for={title}>{title}</label>
    <select
        name={name}
        class="h-10 bg-black-mid placeholder:text-text-muted/40 border border-border py-2 px-3 w-full placeholder:text-xs placeholder:uppercase focus:border-yellow focus:outline-none"
        id={title}
    >
        {options.map((o) => <option value={o.value}>{o.label}</option>)}
    </select>
</div>
